@import "_fonts.scss";
@import "_vars.scss";
@import "_global.scss";

.header {
    padding: 25px 100px;
    font-size: 16px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo {
        }
        .header__nav {
            margin-left: 75px;
            li {
                font-family: "GothamMedium";
                display: inline-block;
                margin-right: 15px;
                a {
                    padding: 10px;
                }
            }
        }
        .header__btn {
            margin-left: auto;
            margin-right: 50px;
            a {
                color: #fff;
                padding: 10px 20px;
                background-color: $orange;
                border-radius: 3px;
            }
        }
        .header__social {
            li {
                display: inline-block;
                a {
                    padding: 9px;
                    &:before {
                        font-family: "icomoon" !important;
                        font-size: 20px;
                    }
                    &.header__social-facebook {
                        &:before {
                            content: "\f09a";
                        }
                    }
                    &.header__social-instagram {
                        &:before {
                            content: "\f16d";
                        }
                    }
                    &.header__social-linkedin {
                        &:before {
                            content: "\f0e1";
                        }
                    }
                    &.header__social-yelp {
                        &:before {
                            content: "\ead7";
                        }
                    }
                    &.header__social-google {
                        &:before {
                            content: "\f1a0";
                        }
                    }
                }
            }
        }
    }
}
.main-content {
    .about {
        padding: 70px 0;
        margin-bottom: 100px;
        color: #fff;
        background: url(../images/about-bg.jpg) no-repeat;
        min-height: 510px;
        &__title {
            font-family: "GothamBold";
            font-size: 70px;
            line-height: 80px;
            max-width: 470px;
            margin-bottom: 20px;
        }
        &__descr {
            font-size: 21px;
            margin-bottom: 50px;
        }
        &__btn {
            a {
                color: #fff;
                padding: 15px 35px;
                background-color: $orange;
                border-radius: 3px;
            }
        }
    }
    .sessions {
        display: flex;
        justify-content: space-between;
        &__block {
            background-color: #222;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding-top: 120px;
            align-items: center;
            width: 50%;
            &-title {
                font-family: "GothamBold";
                font-size: 30px;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 100px;
                &:before {
                    position: absolute;
                    content: "\e901";
                    font-family: "icomoon" !important;
                    font-size: 50px;
                    top: -50px;
                    right: 60%;
                    transform: translateX(100%);
                    color: $orange;
                }
            }
            &-info {
                margin-left: 30px;
                max-width: 400px;
                width: 100%;
                div {
                    font-family: "GothamMedium";
                    &:first-child {
                        &:before {
                            left: -45px;
                        }
                        &:after {
                            left: -30px;
                        }
                    }
                    &:before {
                        position: absolute;
                        font-family: "GothamBold";
                        left: -50px;
                        bottom: 0;
                        font-size: 80px;
                        color: #4e4e4e;
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        max-width: 400px;
                        width: 100%;
                        height: 1px;
                        background-color: #4e4e4e;
                        bottom: -13px;
                        left: -35px;
                    }
                }
            }
            &-studio {
                margin-bottom: 80px;
                position: relative;
                padding-left: 30px;
                &:before {
                    content: "1";
                    left: -40px;
                }
            }
            &-outdoor {
                margin-bottom: 80px;
                position: relative;
                padding-left: 30px;
                &:before {
                    content: "2";
                }
            }
            &-office {
                margin-bottom: 80px;
                position: relative;
                padding-left: 30px;
                &:before {
                    content: "3";
                }
            }
            &-btn {
                margin-bottom: 115px;
                text-align: center;
                a {
                    color: #fff;
                    padding: 15px 65px;
                    background-color: $orange;
                }
            }
            &--white {
                background-color: #f6f6f6;
                color: #222;
                .sessions__block-title {
                    &:before {
                        content: "\e905";
                    }
                }
                .sessions__block-info {
                    div {
                        &:before {
                            color: #ccc;
                        }
                        &:after {
                            background-color: #ccc;
                        }
                    }
                }
            }
        }
    }
    .map {
        position: relative;
        margin: 0;
        padding: 0;
        &__content {
            position: absolute;
            top: 25%;
            left: 10%;
            background-color: #fff;
            padding: 50px 270px 50px 50px;
            margin-right: 15px;
            &-title {
                font-family: "GothamBold";
                font-size: 50px;
                margin-bottom: 25px;
            }
            &-descr {
                margin-bottom: 25px;
            }
            &-search {
                display: flex;
                input {
                    height: 50px;
                    text-decoration: none;
                    background-color: #f6f6f6;
                    padding: 0 20px;
                }
                .map__search-btn {
                    border: none;
                    padding: 15px 50px;
                    background-color: $orange;
                    color: #fff;
                    display: block;
                }
            }
        }
    }
    .services {
        padding: 115px 0 150px;
        text-align: center;
        &__title {
            font-family: "GothamBold";
            font-size: 50px;
            margin-bottom: 50px;
        }
        &__inner {
            position: relative;

            .services__photos {
                max-width: 760px;
                width: 100%;
                margin-right: 15px;
                display: flex;
                flex-wrap: wrap;
                .services__photo {
                    position: relative;
                    width: 350px;
                    height: 385px;
                    outline: none;
                    display: block;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    &-info {
                        opacity: 0;
                        transition: all 0.2s;
                        position: absolute;
                        left: 20px;
                        bottom: 10px;
                        text-align: left;
                        .services__photo-comp {
                            a {
                                color: #fff;
                                padding: 7px 14px;
                                background-color: $orange;
                                font-size: 12px;
                                text-transform: uppercase;
                                border-radius: 3px;
                            }
                        }
                        .services__photo-check {
                            position: relative;
                            padding-right: 25px;
                            a {
                                color: #fff;
                                &:after {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    content: "\e902";
                                    font-family: "icomoon" !important;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &:hover {
                        .services__photo-info {
                            opacity: 1;
                            transition: all 0.35s;
                        }
                    }
                }
                .slick-prev,
                .slick-next {
                    position: absolute;
                    bottom: -30px;
                    font-size: 0;
                    border: 0;
                    background-color: #eff3f8;
                    outline: none;
                    cursor: pointer;
                    padding: 17px 150px;
                    &:before {
                        bottom: 5px;
                    }
                    &.slick-disabled {
                        &:before {
                            color: #ccc;
                        }
                    }
                }
                .slick-prev {
                    left: 0px;
                    &::before {
                        content: "\e903";
                        font-family: "icomoon";
                        position: absolute;
                        font-size: 20px;
                    }
                }

                .slick-next {
                    right: 30px;
                    &::before {
                        content: "\e902";
                        font-family: "icomoon";
                        position: absolute;
                        font-size: 20px;
                    }
                }
                .slick-slide {
                    outline: none;
                }
            }

            .services__btns {
                margin-bottom: 60px;
                button {
                    background-color: #fff;
                    position: relative;
                    color: #ababab;
                    &.mixitup-control-active {
                        color: #000;
                        &:before {
                            position: absolute;
                            content: "";
                            bottom: -3px;
                            left: 0;
                            width: 20px;
                            height: 2px;
                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
    .headshots {
        padding: 80px 0 100px;
        background-color: #f6f6f6;
        &__inner {
            display: flex;
            justify-content: space-between;
            .headshots__text {
                max-width: 640px;
                position: relative;
                &-title {
                    font-family: "GothamBold";
                    font-size: 50px;
                    line-height: 55px;
                    margin-bottom: 35px;
                }
                &-descr {
                }
                &-arrow {
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                }
            }
            .headshots__tips {
                &-title {
                    font-family: "Tahu!";
                    font-size: 60px;
                    line-height: 55px;
                    margin-bottom: 80px;
                    padding-top: 10px;
                }
                &-items {
                    max-width: 750px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .headshots__tips-item {
                        max-width: 350px;
                        position: relative;
                        padding-left: 95px;
                        padding-bottom: 20px;
                        border-bottom: 2px solid #ccc;
                        margin-bottom: 45px;
                        line-height: 24px;
                        object {
                            position: absolute;
                            content: "";
                            top: 50%;
                            transform: translateY(-75%);
                            left: 15px;
                        }
                        &:first-child {
                            object {
                                left: 0px;
                            }
                        }
                        &:nth-child(3) {
                            object {
                                left: -5px;
                            }
                        }
                        &:last-child {
                            margin-left: auto;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &__service {
            margin-left: 90px;
            background-color: #222;
            padding: 50px 120px 60px 80px;
            max-width: 1060px;
            color: #fff;
            &-title {
                text-transform: uppercase;
                font-family: "GothamBold";
            }
            &-text {
                font-size: 16px;
            }
        }
    }
    .clients {
        padding: 100px 0 130px;
        background-color: #222;
        color: #fff;
        &__title {
            font-family: "GothamBold";
            font-size: 50px;
            margin-bottom: 25px;
            text-align: center;
        }
        &__descr {
            margin-bottom: 65px;
            text-align: center;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            position: relative;
            .slick-dots {
                position: absolute;
                bottom: -50px;
                left: 750px;
                li {
                    display: inline-block;
                    & + li {
                        margin-left: 17px;
                    }
                    button {
                        font-size: 0;
                        padding: 6px;
                        border-radius: 50%;
                        border: none;
                    }
                    &.slick-active {
                        button {
                            background-color: transparent;
                            border: 2px solid $orange;
                            padding: 5px;
                        }
                    }
                }
            }
            .clients__item {
                max-width: 492px;
                &.slick-slide {
                    margin-right: 45px;
                    outline: none;
                }
                &-img {
                    margin-bottom: 30px;
                }
                &-name {
                    text-transform: uppercase;
                }
                &-stars {
                    display: inline-block;
                    margin-left: 15px;

                    li {
                        display: inline-block;
                    }
                }
                &-comment {
                    padding-left: 50px;
                    margin-top: 50px;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: ",,";
                        transform: rotate(180deg);
                        font-family: "Proxima Nova";
                        font-style: italic;
                        font-size: 200px;
                        left: 0px;
                        top: 70px;
                        opacity: 0.1;
                        letter-spacing: -20px;
                    }
                }
            }
        }
    }
    .fast {
        padding: 140px 0 160px;
        background: url(../images/fast-bg.jpg)no-repeat center center;
        background-size: cover;
        min-height: 400px;
        color: #fff;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fast__title {
                font-size: 50px;
                font-family: "GothamBold";
                max-width: 820px;
                line-height: 55px;
            }
            .fast__btn {
                a{
                    padding: 17px 70px;
                    color: #fff;
                    background-color: $orange;
                    border-radius: 3px;
                }
            }
        }
    }
}

@import "_media.scss";
